*/viewnior/.config/viewnior/accel_map
*/nvim/.config/nvim/autoload
*/nvim/.config/nvim/plugged
*/nvim/.config/nvim/tmp
*/nvim/.config/nvim/.*
*/mpv/fonts.scale
*/cmus/.config/cmus/playlist.pl
*/cmus/.config/cmus/search-history
*/cmus/.config/cmus/command-history
*/cmus/.config/cmus/lib.pl
*/cmus/.config/cmus/cache
*/cmus/.config/cmus/autosave
*/fish/.config/fish/conf.d/z.fish
*/fish/.config/fish/functions/fisher.fish
*/fish/.config/fish/functions/zadd.awk
*/fish/.config/fish/functions/__z_add.fish
*/fish/.config/fish/functions/z.awk
*/fish/.config/fish/functions/zclean.awk
*/fish/.config/fish/functions/__z_clean.fish
*/fish/.config/fish/functions/__z_complete.fish
*/fish/.config/fish/functions/__z.fish
*/fish/.config/fish/functions/fzf_key_bindings.fish
*/fish/.config/fish/completions/fisher.fish
*/code-oss/.config/Code - OSS/Backups
*/code-oss/.config/Code - OSS/Cache
*/code-oss/.config/Code - OSS/CachedData
*/code-oss/.config/Code - OSS/CachedExtensions
*/code-oss/.config/Code - OSS/Cookies
*/code-oss/.config/Code - OSS/Cookies-journal
*/code-oss/.config/Code - OSS/GPUCache
*/code-oss/.config/Code - OSS/Local Storage
*/code-oss/.config/Code - OSS/Preferences
*/code-oss/.config/Code - OSS/User/workspaceStorage
*/code-oss/.config/Code - OSS/User/globalStorage
*/code-oss/.config/Code - OSS/User/snippets
*/code-oss/.config/Code - OSS/clp
*/code-oss/.config/Code - OSS/languagepacks.json
*/code-oss/.config/Code - OSS/logs
*/code-oss/.config/Code - OSS/machineid
*/code-oss/.config/Code - OSS/storage.json
*/code-oss/.config/Code - OSS/Workspaces
.uuid
