# Some garbage
viewnior/.config/viewnior/accel_map
nvim/.config/nvim/.netrwhist
nvim/.local/share/applications
nvim/.local/share/icons
nvim/.local/share/TelegramDesktop
nvim/.local/share/icons-in-terminal
nvim/.local/share/recently-used.xbel
nvim/.local/share/nvim/shada
nvim/.config/nvim/plugged
mpv/fonts.scale
.uuid
