<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <package id="Chocolatey"/>
    <package id="7zip"/>
    <package id="7zip.install"/>
    <package id="atubecatcher"/>
    <package id="chocolatey"/>
    <package id="chocolatey-core.extension"/>
    <package id="chocolatey-fastanswers.extension"/>
    <package id="chocolatey-visualstudio.extension"/>
    <package id="chocolatey-windowsupdate.extension"/>
    <package id="discord"/>
    <package id="discord.install"/>
    <package id="dopamine"/>
    <package id="DotNet4.5.2"/>
    <package id="dotnet4.6.2"/>
    <package id="fd"/>
    <package id="ffmpeg"/>
    <package id="GeekUninstaller"/>
    <package id="geforce-experience"/>
    <package id="geogebra"/>
    <package id="gimp"/>
    <package id="google-backup-and-sync"/>
    <package id="GoogleChrome"/>
    <package id="InkScape"/>
    <package id="KB2919355"/>
    <package id="KB2919442"/>
    <package id="KB2999226"/>
    <package id="KB3033929"/>
    <package id="KB3035131"/>
    <package id="miktex"/>
    <package id="miktex.install"/>
    <package id="mm-choco.extension"/>
    <package id="mpv"/>
    <package id="mpv.install"/>
    <package id="neovim"/>
    <package id="nvidia-display-driver"/>
    <package id="pandoc"/>
    <package id="qbittorrent"/>
    <package id="ripgrep"/>
    <package id="rufus"/>
    <package id="samsung-usb-driver"/>
    <package id="spotify"/>
    <package id="streamlink"/>
    <package id="telegram"/>
    <package id="telegram.install"/>
    <package id="vcredist140"/>
    <package id="vcredist2010"/>
    <package id="vcredist2015"/>
    <package id="visualstudio2017-installer"/>
    <package id="visualstudio2017community"/>
    <package id="vlc"/>
    <package id="vscode"/>
    <package id="WhatsApp"/>
    <package id="wsl"/>
    <package id="youtube-dl"/>
  </packages>