<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://openbox.org/">
    <menu id="root-menu" label="openbox">
      <item label="Terminale">
        <action name="Execute">
          <execute>~/bin/draw</execute>
        </action>
      </item>
      <item label="File">
        <action name="Execute">
          <execute>nautilus</execute>
        </action>
      </item>
      <item label="Archivi">
        <action name="Execute">
          <execute>file-roller</execute>
        </action>
      </item>
      <item label="Musica">
        <action name="Execute">
          <execute>xfmpc</execute>
        </action>
      </item>
      <separator/>
      <menu id="Programmi" label="Programmi">
        <item label="Code">
          <action name="Execute">
            <execute>code</execute>
          </action>
        </item>
        <item label="Telegram">
          <action name="Execute">
            <execute>telegram-desktop</execute>
          </action>
        </item>
        <item label="Spotify">
          <action name="Execute">
            <execute>spotify</execute>
          </action>
        </item>
        <item label="Calcolatrice">
          <action name="Execute">
            <execute>gnome-calculator</execute>
          </action>
        </item>
        <item label="Orologio">
          <action name="Execute">
            <execute>gnome-clocks</execute>
          </action>
        </item>
      </menu>
      <menu id="Office" label="Office">
        <item label="Calc">
          <action name="Execute">
            <execute>libreoffice --calc</execute>
          </action>
        </item>
        <item label="Writer">
          <action name="Execute">
            <execute>libreoffice --writer</execute>
          </action>
        </item>
        <item label="Draw">
          <action name="Execute">
            <execute>libreoffice --draw</execute>
          </action>
        </item>
        <item label="Impress">
          <action name="Execute">
            <execute>libreoffice --impress</execute>
          </action>
        </item>
        <item label="Base">
          <action name="Execute">
            <execute>libreoffice --base</execute>
          </action>
        </item>
        <item label="Global">
          <action name="Execute">
            <execute>libreoffice --global</execute>
          </action>
        </item>
        <item label="Math">
          <action name="Execute">
            <execute>libreoffice --math</execute>
          </action>
        </item>
        <item label="Web">
          <action name="Execute">
            <execute>libreoffice --web</execute>
          </action>
        </item>
      </menu>
      <separator/>
      <menu id="Alimentazione" label="Alimentazione">
        <item label="Blocca">
          <action name="Execute">
            <execute>slock</execute>
          </action>
        </item>
        <item label="Sospendi">
          <action name="Execute">
            <execute>systemctl suspend</execute>
          </action>
        </item>
        <item label="Riavvia">
          <action name="Execute">
            <execute>reboot</execute>
          </action>
        </item>
        <item label="Spegni">
          <action name="Execute">
            <execute>poweroff</execute>
          </action>
        </item>
      </menu>
      <menu id="Openbox" label="Openbox">
        <item label="Esci">
          <action name="Exit"/>
        </item>
        <item label="Riavvia">
          <action name="Restart"/>
        </item>
      </menu>
    </menu>
</openbox_menu>
